.content-start {
    text-align: center;
    padding-top: 20px;
}

h1 {
    margin-top: 40px;
}
#buttonAdd{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    font-weight: bold;
    transition: opacity 0.15s;
}

#buttonAdd:hover{
    opacity: 0.7;
}

#buttonAdd:active{
    opacity: 0.5;
}

.list-goals{
    margin-top: 40px;
    text-align: center;
}

label{
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

#input{
    width: 30%;
}

#list {
    width: 40%;
    margin: 0 auto;
    list-style: none;
}

#button{
    margin-top: 20px;
}