{% extends "base.html"%}
{%load static%}
{% block title %} Bullet Journal{% endblock %}

{% block content %} 
<h1>Bullet Journal</h1>

    <h3>What is a Bullet Journal?</h3>
    <p>A bullet journal (sometimes known as a BuJo) is a method of personal organization developed by designer Ryder Carroll. 
        The system organizes scheduling, reminders, to-do lists, brainstorming, and other organizational tasks into a single notebook. 
        The name "bullet journal" comes from the use of abbreviated bullet points to log information, but it also partially comes from the 
        use of dot journals, which are gridded using dots rather than lines First shared with the public in 2013, it has become a popular
        organization method, garnering significant attention on Kickstarter, Instagram, Facebook, YouTube, and Pinterest.</p>
    <h3>How to get started?</h3>
    First, write down your goals.
    <p><b>Simbología</b></p>
    <h3 href="#">About us</h3>

{% endblock %}