{% extends 'base.html'%} 

{% block title %} {{Day}} {{month}} {%endblock%}

{% block content%} 
<div class="container">
    <div class="row">
        <div class="col-4 border">
            <h3 id="month">{{dia.mes}}</h3><h3 id="day">{{dia.number}}</h3>
            <a href="{% url 'YearMonthDay:yourYear' %}">Get Back!</a>
            <button type="button" id="buttonEvent" onclick="makeEvent()">Event</button>
            <button type="button" id="buttonEvent" onclick="makeNote()">Note</button>
            <form action="" method="post" id="form" style="display:inline-block;">
                {% csrf_token %}
                <input type="text" onfocus="this.value=''" name="to_do" id="to_do">
            </form>
            <button onclick="saveData()" id="myBtn">Add task</button>
            <br>
            <ul id="lista-task" style="list-style:none">
                {% for task in dia.tasks.all %}
                <li>
                    <i class="fa fa-circle" style="font-size:10px" aria-hidden="true" id="i-{{task.id}}"></i>
                    {{task.to_do}}
                    <a href= "{% url 'YearMonthDay:migrateTask' id=task.id %}" class="btn btn-primary"><i class="fa fa-share" aria-hidden="true"></i></a>
                    <form action="" method="post" style="display: inline-block" id="checkForm">
                        {% csrf_token %}
                        <input type="hidden" name="task-id" value="{{task.id}}" id="checkInput">
                        <button type="button" onclick="checkTask()" id="checkBtn" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>
                    </form>
                    <a href="{% url 'YearMonthDay:delete' model=task.class_name id=task.id %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </li>
                {% endfor %}
                {% for event in dia.events.all %}
                <li>
                    <i class="fa fa-caret-up" style="font-size:10px" aria-hidden="true" id="eventSymbol-{{event.id}}"></i>
                    {{event.desc}}
                    <a href= "{% url 'YearMonthDay:migrateTask' id=event.id %}" class="btn btn-primary"><i class="fa fa-share" aria-hidden="true"></i></a>
                    <form action="" method="post" style="display: inline-block" id="checkForm">
                        {% csrf_token %}
                        <input type="hidden" name="event-id" value="{{event.id}}" id="checkInput">
                        <button type="button" onclick="checkTask()" id="checkBtn" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>
                    </form>
                    <a href="{% url 'YearMonthDay:delete' model=event.class_name id=event.id %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-4 border">

        </div>
        <div class="col-4 border">
            
        </div>
    </div>
    <script>
        function makeNote(){
            inputElement = document.getElementById('to_do');
            inputElement.name = 'note';
            document.getElementById('myBtn').innerHTML = 'Add Note';
        }

        function makeEvent(){
            inputElement = document.getElementById('to_do');
            inputElement.name = 'event';
            document.getElementById('myBtn').innerHTML = 'Add Event';
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
            }
            return cookieValue;
        }

        function saveData() {
            let form = new FormData(document.getElementById('form'));
            let lista = document.getElementById('lista-task');
            let monthElement = document.getElementById('month');
            let dayElement = document.getElementById('day');
            let month = monthElement.innerHTML;
            let day = dayElement.innerHTML;
            fetch(
                '/yourBulletJournal/yourYear/' + month + '/' + day + '/', {
                    method: 'POST',
                    body: form,
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'X-Requested-With': 'XMLHttpRequest',
                    }
                }
            ).then(function (response) {
                return response.json();
            }).then(function (data){
                console.log(data);
                let myArray = data.objects;
                let id = myArray[myArray.length - 1].id;
                let li = document.createElement('li');
                if(myArray[myArray.length - 1].to_do){
                    //insert i bullet
                    let ibullet = document.createElement('i');
                    setAttributes(ibullet, {'class': 'fa fa-circle', 'style': 'font-size: 10px', 'aria-hidden' : 'true', 'id':'i-' + id });
                    li.appendChild(ibullet);
                    li.innerHTML += myArray[myArray.length - 1].to_do;
                    li.setAttribute('id', id)
                    //creating ancor with his attributes
                    let elementAncor = document.createElement('a');
                    setAttributes(elementAncor, {"class": "btn btn-primary", 'href': '/yourBulletJournal/yourYear/migrate-Task/' + id});
                    //creating i elements
                    let i = document.createElement('i');
                    setAttributes(i, {'class': "fa fa-share", 'aria-hidden': "true" })
                    elementAncor.appendChild(i);
                    li.appendChild(elementAncor);
                    //creating form with his attributes and his children
                    let form = document.createElement('form');
                    setAttributes(form, {'method': 'post', 'style': 'display:inline-block', 'id': 'checkForm'})
                    //creating token
                    let tokenElem = document.createElement('input');
                    setAttributes(tokenElem, {'type': 'hidden', 'name': 'csrfmiddlewaretoken', 'value': '{{ csrf_token }}'})
                    form.appendChild(tokenElem);
                    //creating input hidden
                    let inputHidden = document.createElement('input');
                    setAttributes(inputHidden, {'type': 'hidden', 'name': 'task-id', 'value': id, 'id': "checkInput"})
                    form.appendChild(inputHidden);
                    //creating form button
                    let buttonElement = document.createElement('button');
                    setAttributes(buttonElement, {'type': 'button', 'onclick': 'checkTask()', 'id':'checkBtn', 'class': 'btn btn-success'})
                    let iconElement = document.createElement('i');
                    setAttributes(iconElement, {'class': 'fa fa-check', 'aria-hidden': 'true'})
                    buttonElement.appendChild(iconElement);
                    form.appendChild(buttonElement);
                    //add form to li
                    li.appendChild(form);
                    //creating ancor for delete button 
                    let ancla = document.createElement('a');
                    setAttributes(ancla, {'href': '/yourBulletJournal/yourYear/deleteTask/' + id, 'class': 'btn btn-danger'})
                    let iconElem = document.createElement('i');
                    setAttributes(iconElem, {'class': 'fa fa-trash-o', 'aria-hidden': 'true'});
                    ancla.appendChild(iconElem);
                    //add ancor to li 
                    li.appendChild(ancla);
                    lista.insertBefore(li, lista.firstChild);
                }else if(myArray[myArray.length - 1].desc){
                    //insert a dash symbol
                    let dashElement = document.createElement('i');
                    setAttributes(dashElement, {'class': 'fa fa-caret-up', 'aria-hidden': 'true'});
                    li.appendChild(dashElement);
                    li.innerHTML += myArray[myArray.length - 1].desc;
                    console.log(li);
                    lista.insertBefore(li, lista.firstChild);
                    //<i class="fa fa-minus" aria-hidden="true"></i>
                } else {
                    //insert triangle symbol
                    let triangleElement = document.createElement('i');
                    setAttributes(triangleElement, {'class': 'fa fa-minus', 'aria-hidden': 'true'});
                    li.appendChild(triangleElement);
                    li.innerHTML += myArray[myArray.length - 1].text;
                    lista.insertBefore(li, lista.firstChild);
                    //<i class="fa fa-caret-up" aria-hidden="true"></i>
                }
                
            })
        }

        function checkTask() {
            let form = new FormData(document.getElementById('checkForm'));
            fetch(
                '/yourBulletJournal/yourYear/checkTask/', {
                    method: 'POST',
                    body: form,
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'X-Requested-With': 'XMLHttpRequest',
                    }
                }
            ).then(function (response) {
                return response.json();
            }).then(function (data){
                let task = data.task;
                let id = task.toString(); 
                document.getElementById('i-' + id).setAttribute('class', "fa fa-times");
            })
        }

        function setAttributes(element, attrs) {
        for(let key in attrs) {
            element.setAttribute(key, attrs[key]);
            }
        }

        var input = document.getElementById("to_do");

        // Execute a function when the user presses a key on the keyboard
        input.addEventListener("keypress", function(event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("myBtn").click();
            input.value = "";
        }
        });
    
        
        function makeid(length) {
            var result           = '';
            var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for ( var i = 0; i < length; i++ ) {
            result += characters.charAt(Math.floor(Math.random() * 
            charactersLength));
            }
            return result;
        }
        
    </script>
</div>
{%endblock%}