{% extends 'base.html'%}
{% load static %} 
{% block styles %} <link rel="stylesheet" href="{% static 'css/YearMonthDay/day.css' %}"> {% endblock %}
{% block title %} {{Day}} {{month}} {%endblock%}

{% block content%} 
<div class="container">
    <div class="title_link">
        <h3 id="monthday">{{dia.mes}} {{dia.number}}</h3>
        <a href="{% url 'YearMonthDay:yourYear' %}">Get Back!</a>
    </div>
    <div class="buttons_form">
        <div class="buttons">
            <button type="button" class="button" id="buttonEvent" onclick="makeTaskEventNote(event)">
                <i class="fa fa-circle" id="EventDot" aria-hidden="true"></i>Event</button>
            <button type="button" class="button" id="buttonNote" onclick="makeTaskEventNote(event)">
                <i class="fa fa-circle" id="NoteDot" aria-hidden="true"></i>Note</button>
            <button type="button" class="button" id="buttonTask" onclick="makeTaskEventNote(event)">
                <i class="fa fa-circle" id="TaskDot" aria-hidden="true"></i>Task</button>
        </div>
        <div class="form_button">
            <form action="" method="post" id="form">
                {% csrf_token %}
                <input type="text" onfocus="this.value=''" name="to_do" id="to_do">
            </form>
            <button onclick="saveData()" id="myBtn">Add</button>
        </div>
    </div>
    <br>
    <ul id="lista-task" style="list-style:none">
        {% for task in dia.tasks.all %}
        <li>
            <div class="icon_text">
                {% if task.done == False %}
                <i class="fa fa-circle" style="font-size:10px" aria-hidden="true" id="i-{{task.id}}"></i>
                {%  else %}
                <i class="fa fa-times" style="font-size:10px" aria-hidden="true"></i>
                {% endif %}
                {{task.to_do}}
            </div>
            <div class="actions">
                <a href= "{% url 'YearMonthDay:migrate' model=task.class_name id=task.id %}" class="btn btn-primary"><i class="fa fa-share" aria-hidden="true"></i></a>
                <form action="" method="post" style="display: inline-block" id="checkForm{{task.class_name}}{{task.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="obj-id" value="{{task.id}}{{task.class_name}}" id="checkInput">
                    <button type="button" onclick="checkTask(event)" id="{{task.id}} {{task.class_name}}" class="btn btn-success"><i class="fa fa-check" aria-hidden="true" id="{{task.id}} {{task.class_name}}"></i></button>
                </form>
                <a href="{% url 'YearMonthDay:delete' model=task.class_name id=task.id %}" class="btn btn-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </div>
        </li>
        {% endfor %}
        {% for event in dia.events.all %}
        <li>
            <div class="icon_text">
                <i class="fa fa-caret-up" style="font-size:10px" aria-hidden="true" id="eventSymbol-{{event.id}}"></i>
                {% if event.done == False %}
                <p style="display: inline-block" id="p{{event.id}}">{{event.desc}}</p>
                {% else %} 
                <p style="display: inline-block; text-decoration: line-through;">{{event.desc}}</p>
                {% endif %}
            </div>
            <div class="actions">
                <a href= "{% url 'YearMonthDay:migrate' model=event.class_name id=event.id %}" class="btn btn-primary"><i class="fa fa-share" aria-hidden="true"></i></a>
                <form action="" method="post" style="display: inline-block" id="checkForm{{event.class_name}}{{event.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="obj-id" value="{{event.id}}{{event.class_name}}" id="checkInput">
                    <button type="button" onclick="checkTask(event)" id="{{event.id}} {{event.class_name}}" class="btn btn-success"><i class="fa fa-check" aria-hidden="true" id="{{event.id}} {{event.class_name}}"></i></button>
                </form>
                <a href="{% url 'YearMonthDay:delete' model=event.class_name id=event.id %}" class="btn btn-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </div>
        </li>
        {% endfor %}
        {% for note in dia.notes.all %}
        <li>
            <div class="icon_text">
                <i class="fa fa-minus" style="font-size:10px" aria-hidden="true"></i>
                {{note.text}}
            </div>
            <div class="actions">
                <a href= "{% url 'YearMonthDay:migrate' model=note.class_name id=note.id %}" class="btn btn-primary"><i class="fa fa-share" aria-hidden="true"></i></a>
                <a href="{% url 'YearMonthDay:delete' model=note.class_name id=note.id %}" class="btn btn-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </div>
        </li>
        {% endfor %}
    </ul>
    
    <script>
        document.getElementById('TaskDot').style = 'color: red';
        function makeTaskEventNote(event){
            inputElement = document.getElementById('to_do');
            if(event.target.id == 'buttonEvent'){
                inputElement.name = 'event';
                document.getElementById('TaskDot').style = 'color: black'; 
                document.getElementById('NoteDot').style = 'color: black';
                document.getElementById('EventDot').style = 'color: red'; 
            } else if(event.target.id == 'buttonTask'){
                inputElement.name = 'to_do';
                document.getElementById('EventDot').style = 'color: black'; 
                document.getElementById('NoteDot').style = 'color: black';
                document.getElementById('TaskDot').style = 'color: red'; 
            } else{
                inputElement.name = 'note';
                document.getElementById('EventDot').style = 'color: black'; 
                document.getElementById('TaskDot').style = 'color: black'; 
                document.getElementById('NoteDot').style = 'color: red';
            }
    
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
            }
            return cookieValue;
        }

        function saveData() {
            let form = new FormData(document.getElementById('form'));
            let lista = document.getElementById('lista-task');
            let monthDayElement = document.getElementById('monthday');
            monthDayElement = monthDayElement.innerHTML;
            console.log(monthDayElement);
            let day = getDayId(monthDayElement);
            let month = getMonthName(monthDayElement);
            fetch(
                '/yourBulletJournal/yourYear/' + month + '/' + day + '/', {
                    method: 'POST',
                    body: form,
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'X-Requested-With': 'XMLHttpRequest',
                    }
                }
            ).then(function (response) {
                return response.json();
            }).then(function (data){
                console.log(data);
                let myArray = data.objects;
                let id = myArray[myArray.length - 1].id;
                let li = document.createElement('li');
                if(myArray[myArray.length - 1].to_do){
                    let iconTextDiv = document.createElement('div');
                    iconTextDiv.setAttribute('class', 'icon_text');
                    //insert i bullet
                    let ibullet = document.createElement('i');
                    setAttributes(ibullet, {'class': 'fa fa-circle', 'style': 'font-size: 10px; padding-right: 5px;', 'aria-hidden' : 'true', 'id':'i-' + id });
                    iconTextDiv.appendChild(ibullet);
                    iconTextDiv.innerHTML += myArray[myArray.length - 1].to_do;
                    li.setAttribute('id', id)
                    li.appendChild(iconTextDiv);
                    //creating ancor with his attributes
                    let actionsDiv = document.createElement('div');
                    setAttributes(actionsDiv, {'class': 'actions', 'style':'padding-left:10px;'})
                    let elementAncor = document.createElement('a');
                    setAttributes(elementAncor, {"class": "btn btn-primary", 'style': 'margin-right:5px;','href': '/yourBulletJournal/yourYear/migrate/Task/' + id});
                    //creating i elements
                    let i = document.createElement('i');
                    setAttributes(i, {'class': "fa fa-share", 'aria-hidden': "true" })
                    elementAncor.appendChild(i);
                    actionsDiv.appendChild(elementAncor);
                    //CREATING FORM with his attributes and his children
                    let form = document.createElement('form');
                    setAttributes(form, {'method': 'post', 'style': 'display:inline-block', 'id': 'checkFormTask' + id})
                    //creating token
                    let tokenElem = document.createElement('input');
                    setAttributes(tokenElem, {'type': 'hidden', 'name': 'csrfmiddlewaretoken', 'value': '{{ csrf_token }}'})
                    form.appendChild(tokenElem);
                    //creating input hidden
                    let inputHidden = document.createElement('input');
                    setAttributes(inputHidden, {'type': 'hidden', 'name': 'obj-id', 'value': 'Task' + id, 'id': "checkInput"})
                    form.appendChild(inputHidden);
                    //creating form button
                    let buttonElement = document.createElement('button');
                    setAttributes(buttonElement, {'type': 'button', 'onclick': 'checkTask(event)', 'id': id + ' Task', 'class': 'btn btn-success'})
                    let iconElement = document.createElement('i');
                    setAttributes(iconElement, {'class': 'fa fa-check', 'aria-hidden': 'true', 'id': id + ' Task'})
                    buttonElement.appendChild(iconElement);
                    form.appendChild(buttonElement);
                    actionsDiv.appendChild(form);
                    //CREATING ANCOR for delete button 
                    let ancla = document.createElement('a');
                    setAttributes(ancla, {'style': 'margin-left: 5px;','href': '/yourBulletJournal/yourYear/delete/Task/' + id, 'class': 'btn btn-danger'})
                    let iconElem = document.createElement('i');
                    setAttributes(iconElem, {'class': 'fa fa-trash-o', 'aria-hidden': 'true'});
                    ancla.appendChild(iconElem);
                    actionsDiv.appendChild(ancla);
                    li.appendChild(actionsDiv);
                    lista.insertBefore(li, lista.firstChild);
                }else if(myArray[myArray.length - 1].desc){
                    let iconTextDiv = document.createElement('div');
                    iconTextDiv.setAttribute('class', 'icon_text');
                    //insert a dash symbol
                    let dashElement = document.createElement('i');
                    setAttributes(dashElement, {'class': 'fa fa-caret-up', 'aria-hidden': 'true'});
                    iconTextDiv.appendChild(dashElement);
                    let paragraph = document.createElement('p');
                    setAttributes(paragraph, {'style': 'display:inline-block', 'id': 'p' + id})
                    paragraph.innerHTML = myArray[myArray.length - 1].desc;
                    iconTextDiv.appendChild(paragraph);
                    li.appendChild(iconTextDiv);
                    //creating ancor with his attributes
                    let actionsDiv = document.createElement('div');
                    actionsDiv.setAttribute('class', 'actions');
                    let elementAncor = document.createElement('a');
                    setAttributes(elementAncor, {"class": "btn btn-primary", 'style': 'margin-right:5px;', 'href': '/yourBulletJournal/yourYear/migrate/Event/' + id});
                    //creating i elements
                    let i = document.createElement('i');
                    setAttributes(i, {'class': "fa fa-share", 'aria-hidden': "true" })
                    elementAncor.appendChild(i);
                    actionsDiv.appendChild(elementAncor)
                    //creating form with his attributes and his children
                    let form = document.createElement('form');
                    setAttributes(form, {'method': 'post', 'style': 'display:inline-block', 'id': 'checkFormEvent' + id})
                    //creating token
                    let tokenElem = document.createElement('input');
                    setAttributes(tokenElem, {'type': 'hidden', 'name': 'csrfmiddlewaretoken', 'value': '{{ csrf_token }}'})
                    form.appendChild(tokenElem);
                    //creating input hidden
                    let inputHidden = document.createElement('input');
                    setAttributes(inputHidden, {'type': 'hidden', 'name': 'obj-id', 'value': 'Event' + id, 'id': "checkInput"})
                    form.appendChild(inputHidden);
                    //creating form button
                    let buttonElement = document.createElement('button');
                    setAttributes(buttonElement, {'type': 'button', 'onclick': 'checkTask(event)', 'id': id + ' Event', 'class': 'btn btn-success'})
                    let iconElement = document.createElement('i');
                    setAttributes(iconElement, {'class': 'fa fa-check', 'aria-hidden': 'true', 'id': id + ' Event'})
                    buttonElement.appendChild(iconElement);
                    form.appendChild(buttonElement);
                    actionsDiv.appendChild(form);
                    //creating ancor for delete button 
                    let ancla = document.createElement('a');
                    setAttributes(ancla, {'style': 'margin-left: 5px;', 'href': '/yourBulletJournal/yourYear/delete/Event/' + id, 'class': 'btn btn-danger'})
                    let iconElem = document.createElement('i');
                    setAttributes(iconElem, {'class': 'fa fa-trash-o', 'aria-hidden': 'true'});
                    ancla.appendChild(iconElem);
                    actionsDiv.appendChild(ancla); 
                    li.appendChild(actionsDiv);
                    lista.insertBefore(li, lista.firstChild);
                    
                } else {
                    let iconTextDiv = document.createElement('div');
                    iconTextDiv.setAttribute('class', 'icon_text');
                    //insert triangle symbol
                    let triangleElement = document.createElement('i');
                    setAttributes(triangleElement, {'class': 'fa fa-minus', 'style': 'font-size:10px; margin-right:5px;', 'aria-hidden': 'true'});
                    iconTextDiv.appendChild(triangleElement);
                    iconTextDiv.innerHTML += myArray[myArray.length - 1].text;
                    li.appendChild(iconTextDiv);
                    //creating ancor with his attributes
                    let actionsDiv = document.createElement('div');
                    actionsDiv.setAttribute('class', 'actions');
                    let elementAncor = document.createElement('a');
                    setAttributes(elementAncor, {"class": "btn btn-primary", 'href': '/yourBulletJournal/yourYear/migrate/Note/' + id});
                    //creating i elements
                    let i = document.createElement('i');
                    setAttributes(i, {'class': "fa fa-share", 'aria-hidden': "true" })
                    elementAncor.appendChild(i);
                    actionsDiv.appendChild(elementAncor);
                    //creating ancor for delete button 
                    let ancla = document.createElement('a');
                    setAttributes(ancla, {'href': '/yourBulletJournal/yourYear/delete/Note/' + id, 'class': 'btn btn-danger'})
                    let iconElem = document.createElement('i');
                    setAttributes(iconElem, {'class': 'fa fa-trash-o', 'aria-hidden': 'true'});
                    ancla.appendChild(iconElem);
                    actionsDiv.appendChild(ancla);
                    li.appendChild(actionsDiv);
                    lista.insertBefore(li, lista.firstChild);
                }
                
            })
        }

        function checkTask(event) {
            //Take the id and model name to construct the CheckForm id
            let id_model = event.target.id;
            let modelName = getModelName(id_model);
            let task_id = getTaskId(id_model);
            console.log(modelName, task_id);
            let form = new FormData(document.getElementById('checkForm' + modelName + task_id));
            fetch(
                '/yourBulletJournal/yourYear/checkTask/', {
                    method: 'POST',
                    body: form,
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'X-Requested-With': 'XMLHttpRequest',
                    }
                }
            ).then(function (response) {
                return response.json();
            }).then(function (data){
                let model = data.model;
                if(model == 'Task'){
                    console.log(model);
                    let obj = data.obj;
                    let id = obj.toString(); 
                    document.getElementById('i-' + id).setAttribute('class', "fa fa-times");
                } else {
                    let obj = data.obj;
                    let id = obj.toString(); 
                    document.getElementById('p' + id).setAttribute('style', "display: inline-block; text-decoration: line-through;");
                }
            })
        }

        function setAttributes(element, attrs) {
        for(let key in attrs) {
            element.setAttribute(key, attrs[key]);
            }
        }

        //Ajax funcionality
        function getMonthName(value){
            let myArray = value.split(" ");
            return myArray[0];
        }   

        function getDayId(value){
            let myArray = value.split(" ");
            return myArray[1];
        }   
        function getModelName(value) {
            let myArray = value.split(" ");
            return myArray[1];
        }


        function getTaskId(value) {
            let myArray = value.split(" ");
            return myArray[0];
        }

        var input = document.getElementById("to_do");

        // Execute a function when the user presses a key on the keyboard
        input.addEventListener("keypress", function(event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("myBtn").click();
            input.value = "";
        }
        });
    
        
        function makeid(length) {
            var result           = '';
            var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for ( var i = 0; i < length; i++ ) {
            result += characters.charAt(Math.floor(Math.random() * 
            charactersLength));
            }
            return result;
        }
        
    </script>
</div>
{%endblock%}