{% extends 'base.html'%} 
{% load static %} 
{% block styles %} <link rel="stylesheet" href="{% static 'css/YearMonthDay/month.css' %}"> {% endblock %}
{% block title %}Your Month{%endblock%}

{%block content%} 

<div class="content-month">
    <h3 id="month">{{monthStr}}</h3>
    <h3 id="instruction">Write one important task or event for each day of the month</h3>
    <form action="" method="post" id="form">
        <input type="text" id="inputText" name="importantTask" autofocus>
        <input type="date" id="date" name="day" 
        min="{{year}}-{{monthInt}}-01" max="{{year}}-{{monthInt}}-{{daysOfMonth}}" required>
        <button type="button" onclick="saveData()" id="button">Add</button>
    </form>
    <div class="content-list">
        <ol id="list">
            {% for day in days10 %} 
            <li id="li{{day.numberInt}}"> 
                {% if day.important %}
                <p id="important{{day.numberInt}}" style="display: inline-block">{{day.important|default_if_none:" " }}</p>
                <a href="{% url 'YearMonthDay:deleteImportant' number=day.numberInt month=day.mes %}" class="ancor">
                    <i class="fa fa-trash-o" aria-hidden="true" id="{{day.numberInt}}"></i></a>
                {%else%}
                <p id="important{{day.numberInt}}" style="display: inline-block">{{day.important|default_if_none:" " }}</p>
                {%endif%}
            </li>
            {% endfor %}
        </ol>
        <ol start="11" id="list2">
            {% for day in days20 %} 
            <li id="li{{day.numberInt}}">
                {%if day.important %}
                <p id="important{{day.numberInt}}" style="display: inline-block">{{day.important|default_if_none:" " }}</p>
                <a href="{% url 'YearMonthDay:deleteImportant' number=day.numberInt month=day.mes%}" class="ancor">
                    <i class="fa fa-trash-o" aria-hidden="true" id="{{day.numberInt}}"></i></a>
                {%else%}
                <p id="important{{day.numberInt}}" style="display: inline-block">{{day.important|default_if_none:" " }}</p>
                {%endif%}
            </li>
            {% endfor %}
        </ol>
        <ol start="21" id="list3">
            {% for day in daysRest %} 
            <li id="li{{day.numberInt}}">
                {% if day.important %}
                <p id="important{{day.numberInt}}" style="display: inline-block">{{day.important|default_if_none:" " }}</p>
                <a href="{% url 'YearMonthDay:deleteImportant' number=day.numberInt month=day.mes%}" class="ancor">
                    <i class="fa fa-trash-o" aria-hidden="true" id="{{day.numberInt}}"></i></a>
                {%else%}
                <p id="important{{day.numberInt}}" style="display: inline-block">{{day.important|default_if_none:" " }}</p>
                {%endif%}
            </li>
            {% endfor %}
        </ol>
    </div>
</div> 

<script>

    function setAttributes(element, attrs) {
        for(let key in attrs) {
            element.setAttribute(key, attrs[key]);
            }
        }

    function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
            }
            return cookieValue;
        }
    
    function saveData() {
        let form = new FormData(document.getElementById('form'));
        let month = document.getElementById('month');
        let list = document.getElementById('list');
        month = month.innerHTML;
        fetch(
                '/yourBulletJournal/yourYear/' + month + '/', {
                    method: 'POST',
                    body: form,
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'X-Requested-With': 'XMLHttpRequest',
                    }
                }
            ).then(function (response) {
                return response.json();
            }).then(function (data){
                let day = data.day;
                let important = day.important;
                let id = day.id;
                let month = day.month;
                document.getElementById('important' + id).innerHTML = important;
                ancor = document.createElement('a');
                ancor.setAttribute('class', 'ancor');
                ancor.href = '/yourBulletJournal/yourYear/deleteImportant/' + month + '/' + id + '/';
                icon = document.createElement('i');
                icon.setAttribute('class', 'fa fa-trash-o')
                icon.setAttribute('aria-hidden', 'true');
                icon.setAttribute('id', id);
                ancor.appendChild(icon);
                if (document.getElementById(id) == null) {
                    document.getElementById('li' + id).appendChild(ancor);
                }
            })
    }

    items = document.getElementsByTagName('p');
    for (let i = 0; i < items.length; i++){
        if(items[i].innerHTML == " "){
            items[i].setAttribute('style', 'padding: 4px')
        }
    }

    var input = document.getElementById("inputText");
    // Execute a function when the user presses a key on the keyboard
    input.addEventListener("keypress", function(event) {
    // If the user presses the "Enter" key on the keyboard
    if (event.key === "Enter") {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        date = document.getElementById('date').value;
        if (date) {
            document.getElementById("button").click();
            input.value = "";
        } else {
            alert("Please enter a date");
        }
        //
        
    }
});

        
</script>
{%endblock%} 